/*////////////// Fonts //////////////*/

@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

h1 {
  font-family: "Baskerville";
  border-bottom: 1px solid #ccc;
  color:#9baaa5;
  font-size: 5em;
  padding-bottom: 12px;
  margin:0px;
}

#splashimg
{
  display:inline-block;
  margin-top: 3px;
  
}

#splashimg img {
  border: 4px solid;
  border-color: #9baaa5;
}

h2{
  color: #6f7f7a;
  font-size: 2em;
}

p {
  font-size: 1em;
  color: #555;
}
#about{
  
}

#Press img {
  border: 2px solid #ccc;
  width: 100%;
}

footer {
  display: block;
  text-align: right;
  font-size: 0.8em;
}